MONGODB_URI=mongodb+srv://bsitf21e68406_db_user:5gczcdbcCcvGiTGM@cluster0.eej56yd.mongodb.net/?appName=Cluster0
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
GOOGLE_CLIENT_ID=664514338424-l33g06a3gfna9kbmj11eufkjcot1lko8.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=664514338424-l33g06a3gfna9kbmj11eufkjcot1lko8.apps.googleusercontent.com
HADITH_API_KEY=$2y$10$00FYDd23a9QxcLJi0QPgehmVhJ46aNE5t9T7NALuUteCExBUPfy
NEXT_PUBLIC_SITE_URL=http://localhost:3000
AUTH_SECRET=your_auth_secret_here
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX